<div class="">
  <div id="wrapper">
    <div id="signup" class="animate form">
      <section class="signup_content">
      <h1>SmartWareHouse</h1>
        <%= form_for @user do |u| %>  
          <div class="field">
            <%= u.label :last_name %>
            <%= u.text_field :last_name %><br>
            <%= u.label :username %>
            <%= u.text_field :username %><br>
            <%= u.label :address %>
            <%= u.text_field :address %><br>
            <%= u.label :password %>
            <%= u.password_field :password %><br>
            <%= u.label :password_confirmation %>
            <%= u.password_field :password_confirmation %><br>
            <%= u.label :email %>
            <%= u.email_field :email %><br>
          </div> 
          <div class="actions"> 
            <%= u.submit "Create" %> 
          </div> 
        <% end %>
        <!-- form -->
      </section>
      <!-- content -->
    </div>
  </div>
</div>